html, head, body, img, p, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.background-img {
    height: 100%;
    background-image: url('./assets/stock-pic.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
